*{
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
}

body{
	background-color: hsl(217, 54%, 11%);
}

.nft--card{
	padding: 20px;
	margin: 0 auto;
	width: 300px;
	background-color: hsl(216, 50%, 16%);
	border-radius: 10px;
	box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.2);
	margin-top: 10%;
}

.nft--card > div {
    display: flex;
	flex-direction: column;
}

.nft-view{
	display: flex;
	position: relative;
    width: 375px;
    max-width: 375px;
}

.nft--image{
	width: 300px;
	border-radius: 10px;
	z-index: 0;
	cursor: pointer;
}


.icon--view--span{
	position: absolute;
	background-color: hsl(178, 100%, 50%, 0.3);
	width: 300px;
	height: 300px;
	border-radius: 10px;
	opacity: 0;
	transition: 2s ease;
}

.icon{
	position: absolute;
	top: 42%;
	left: 42%;
	
}

.icon--view--span:hover{
	opacity: 1;
}



.coin--time--wrapper{
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 20px;
}


.small--wrapper,.creator--info{
	display: flex;
	align-items: center;
}

.coin--time--icon{
	padding-right: 3px;
}

.creator--pic{
	width: 40px;
	border-radius: 100px;
	border: solid;
	border-width: 1px;
	border-color: hsl(0, 0%, 100%); 
	margin-right: 10px;
}

/* Text style */
a{
  text-decoration: none;
}

.attribution{
	padding: 50px;
	font-size: 10pt;
	text-align: center;
}

.attribution a{
	font-size: 10pt;
}

h1 ,.creator--name{
	color: hsl(0, 0%, 100%);
	
}

.creator--name{
	font-size: 15px;
}

h1:hover ,.creator--name:hover{
	color:hsl(178, 100%, 50%); /*cyan*/
	cursor: pointer;
}

p, hr,.time--text{
	color: hsl(215, 51%, 70%); /*soft blue*/
	font-weight: 300;
	font-size: 15px;
	
}

.coin--text{
   color:hsl(178, 100%, 50%); /*cyan*/
   font-weight: 400;
  
}

.coin--text,.time--text{
	margin: 0;
}

h1{
	font-size: 20px;
	font-weight: 400;
}

hr{
   width: 100%;
   weight: 100;
}
